.card {
    width: 350px;
    background: #eeeded;
    transition: all .3s;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(141, 141, 139, 0.3);
    transform: scale(0.98);
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

img {
    width: 350px;
    height: 300px;
}

.imgBox {
    position: relative;
}

.price {
    color: white;
    position: absolute;
    top: -18px;
    left: 273px;
    background-color: rgb(25, 172, 25);
    padding: 6px 11px;
    font-size: large
}

h2 {
    font-weight: 100px;
    letter-spacing: 2px;
    font-size: larger;
}

.infoBox {
    padding: 20px;
}
.notInterested {
    border: 1px solid rgb(55, 143, 109);
    padding: 8px 93px;
    color: rgb(62, 190, 141);
    font-size: smaller;
    letter-spacing: 1px;
}

.btn {
    overflow: visible;
}

hr {
    border: 2px solid rgb(62, 190, 141);
    width: 115px;
}
.Show_more{
    line-height: 20px;
    color: rgb(141, 140, 140);
    overflow: visible;
}

.Show_less {
    line-height: 20px;
    color: rgb(141, 140, 140);
    height: 100px;
    overflow: hidden;
    margin: 2px;
    text-align: start;
}
.reed_more{
    color: rgb(62, 190, 141);
    font-size: small;
    font-weight:800 ;
    cursor: pointer;
    text-align: start;
    margin-top: 0px;
}